<!DOCTYPE html>
<html>
<head> 
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Credit Card Fraud Prediction</title>
</head>
<body>
	<h1><div style='text-align:center '><font color='blue'>Credit Card Fraud Prediction</font></div></h1>
	</br>
	<h2><div style='text-align:left'>Fraud Prediction</div></h2>
    </br>
    <div class= 'container'>
    	<div class="row">
    		<div class="col-6">
    			<form method="POST" action="/predict">
    				    <div class="form-group">
    					    <label for="Time"><p class="font-weight-bold">Time</p></label>
    					    <input type="text" name="Time">
    					    <small id="Help" class="from-text text-muted">Enter the values</small>
    				    </div>


                        <div class="form-group">
                        	<label for="V1"><p class="font-weight-bold">V1</p></label>
    					    <input type="text" name="V1">
    					    <small id="Help" class="from-text text-muted">Enter the values</small>
						</div>

						<div class="form-group">
							<label for="V2"><p class="font-weight-bold">V2</p></label>
							<input type="text" name="V2">
							<small id="Help" class="from-text text-muted">Enter the values</small>
						</div>

						<div class="form-group">
							<label for="V3"><p class="font-weight-bold">V3</p></label>
							<input type="text" name="V3">
							<small id="Help" class="from-text text-muted">Enter the values</small>
						</div>

						<div class="form-group">
							<label for="V4"><p class="font-weight-bold">V4</p></label>
							<input type="text" name="V4">
							<small id="Help" class="from-text text-muted">Enter the values</small>
						</div>

						<div class="form-group">
							<label for="V5"><p class="font-weight-bold">V5</p></label>
							<input type="text" name="V5">
							<small id="Help" class="from-text text-muted">Enter the values</small>
						</div>

						<div class="form-group">
							<label for="V6"><p class="font-weight-bold">V6</p></label>
							<input type="text" name="V6">
							<small id="Help" class="from-text text-muted">Enter the values</small>
						</div>

						<div class="form-group">
							<label for="V7"><p class="font-weight-bold">V7</p></label>
							<input type="text" name="V7">
							<small id="Help" class="from-text text-muted">Enter the values</small>
						</div>

						<div class="form-group">
							<label for="V8"><p class="font-weight-bold">V8</p></label>
							<input type="text" name="V8">
							<small id="Help" class="from-text text-muted">Enter the values</small>
						</div>

						<div class="form-group">
							<label for="V9"><p class="font-weight-bold">V9</p></label>
							<input type="text" name="V9">
							<small id="Help" class="from-text text-muted">Enter the values</small>
						</div>
 
						<div class="form-group">
							<label for="V10"><p class="font-weight-bold">V10</p></label>
							<input type="text" name="V10">
							<small id="Help" class="from-text text-muted">Enter the values</small>
						</div>

						<div class="form-group">
							<label for="V11"><p class="font-weight-bold">V11</p></label>
							<input type="text" name="V11">
							<small id="Help" class="from-text text-muted">Enter the values</small>
						</div>

						<div class="form-group">
							<label for="V12"><p class="font-weight-bold">V12</p></label>
							<input type="text" name="V12">
							<small id="Help" class="from-text text-muted">Enter the values</small>
						</div>

						<div class="form-group">
							<label for="V13"><p class="font-weight-bold">V13</p></label>
							<input type="text" name="V13">
							<small id="Help" class="from-text text-muted">Enter the values</small>
						</div>

						<div class="form-group">
							<label for="V14"><p class="font-weight-bold">V14</p></label>
							<input type="text" name="V14">
							<small id="Help" class="from-text text-muted">Enter the values</small>
						</div>

						<div class="form-group">
							<label for="V15"><p class="font-weight-bold">V15</p></label>
							<input type="text" name="V15">
							<small id="Help" class="from-text text-muted">Enter the values</small>
						</div>

						<div class="form-group">
							<label for="V16"><p class="font-weight-bold">V16</p></label>
							<input type="text" name="V16">
							<small id="Help" class="from-text text-muted">Enter the values</small>
						</div>

						<div class="form-group">
							<label for="V17"><p class="font-weight-bold">V17</p></label>
							<input type="text" name="V17">
							<small id="Help" class="from-text text-muted">Enter the values</small>
						</div>

						<div class="form-group">
							<label for="V18"><p class="font-weight-bold">V18</p></label>
							<input type="text" name="V18">
							<small id="Help" class="from-text text-muted">Enter the values</small>
						</div>

						<div class="form-group">
							<label for="V19"><p class="font-weight-bold">V19</p></label>
							<input type="text" name="V19">
							<small id="Help" class="from-text text-muted">Enter the values</small>
						</div>

						<div class="form-group">
							<label for="V20"><p class="font-weight-bold">V20</p></label>
							<input type="text" name="V20">
							<small id="Help" class="from-text text-muted">Enter the values</small>
						</div>

						<div class="form-group">
							<label for="V21"><p class="font-weight-bold">V21</p></label>
							<input type="text" name="V21">
							<small id="Help" class="from-text text-muted">Enter the values</small>
						</div>

						<div class="form-group">
							<label for="V22"><p class="font-weight-bold">V22</p></label>
							<input type="text" name="V22">
							<small id="Help" class="from-text text-muted">Enter the values</small>
						</div>

						<div class="form-group">
							<label for="V23"><p class="font-weight-bold">V23</p></label>
							<input type="text" name="V23">
							<small id="Help" class="from-text text-muted">Enter the values</small>
						</div>

						<div class="form-group">
							<label for="V24"><p class="font-weight-bold">V24</p></label>
							<input type="text" name="V24">
							<small id="Help" class="from-text text-muted">Enter the values</small>
						</div>

						<div class="form-group">
							<label for="V25"><p class="font-weight-bold">V25</p></label>
							<input type="text" name="V25">
							<small id="Help" class="from-text text-muted">Enter the values</small>
						</div>

						<div class="form-group">
							<label for="V26"><p class="font-weight-bold">V26</p></label>
							<input type="text" name="V26">
							<small id="Help" class="from-text text-muted">Enter the values</small>
						</div>

						<div class="form-group">
							<label for="V27"><p class="font-weight-bold">V27</p></label>
							<input type="text" name="V27">
							<small id="Help" class="from-text text-muted">Enter the values</small>
						</div>

						<div class="form-group">
							<label for="V28"><p class="font-weight-bold">V28</p></label>
							<input type="text" name="V28">
							<small id="Help" class="from-text text-muted">Enter the values</small>
    				    </div>

    				    <div class="form-group">
							<label for="Amount"><p class="font-weight-bold">Amount</p></label>
							<input type="text" name="Amount">
							<small id="Help" class="from-text text-muted">Enter the values</small>
    				    </div>

    				<button class="btn btn-primary"  type="Submit" value="Submit"></button>

    			</form>
    		</div>
    	    </div>
            </div>



 </body>
</html>