<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Fraud Analysis Outcome</title>
</head>
<body>
	<h1><div style="text-align:center"><font colour="blue">Final Outcome of Analysis</font></div></h1>
	<hr>
	<div class="card text-center" style="width:21.5em;margin:0 auto;">
		<div class="card-body">
			<p class="card text"><h1><font color="blue">{{prediction}}</font></h1></p>
		</div>
		<div class="from-text">
			
			<small id="Help" class="from-text text-muted">Not fraud = 0, Fraud = 1</small>
		</div>
	</div>
</body>
</html>